# Build website with 11ty and sync to server
name: 11ty-build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
 push:
   branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Build the site with 11ty, ref: https://www.rockyourcode.com/how-to-deploy-eleventy-to-github-pages-with-github-actions/
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache node modules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        npm ci

    - name: Build
      run: |
        # Increase NODE memory
        # export NODE_OPTIONS=--max_old_space_size=4096
        npm run build
      env:
        ELEVENTY_ENV: production

    - name: Commit 'organicsyntheticfaculty.html' for 11ty-lazyimage-plugin cache
      run: |
        echo ${{ github.ref }}
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "ci: Automated update 'organicsyntheticfaculty.html' $(date)" ./_site/'organicsyntheticfaculty.html' | exit 0

    - name: Push 'organicsyntheticfaculty.html' changes
#       if: github.ref == 'refs/heads/main'
      uses: ad-m/github-push-action@v0.6.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}